.parent {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
	font-size: 1.2rem;
	margin-top: 50px;
}

.flexitem {
	flex-basis: 45%;
	cursor: pointer;
	border: 0.5px solid rgb(243, 243, 243);
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
	transition: background-color 0.5s ease;

	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 19px;
}

.flexitem:hover {
	background-color: rgb(243, 243, 243);
}

.teams1 {
	display: flex;
	justify-content: space-between;
	grid-area: 1 / 1 / 2 / 2;
}
.teams2 {
	display: flex;
	justify-content: space-between;
	grid-area: 2 / 1 / 3 / 2;
}

.date {
	grid-area: 1 / 2 / 3 / 3;
	color: gray;
	font-size: 0.9rem;
	text-align: center;
}
.date div + div {
	margin-top: 15px;
}

.img {
	width: 24px;
	height: 24px;
	border: none;
}

.team {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
