@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
.table {
	margin: 0 auto;
	width: 95%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 35px;
}

.table td {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}

.head {
	font-size: 1.2rem;
	font-weight: 700;
	color: rgb(75, 75, 75);
	line-height: 2.2;
	width: 100%;
	border-bottom: 1px solid red;
	border-radius: 16px;
}

.tbrow {
	line-height: 2;
	height: 50px;
	vertical-align: middle;
	border-bottom: 0.5px solid rgb(230, 230, 230);
	font-size: 1.1rem;
	cursor: pointer;
	transition: background-color 0.4s ease;
	display: table-row;
	color: inherit;
}

.tbrow:hover {
	background-color: rgb(224, 224, 224);
}

.img {
	width: 34px;
	height: 34px;
	border: none;
}

.flex {
	display: flex;
	align-items: center;
	height: 50px;
}

.span {
	width: 24px;
	display: flex;
	justify-content: center;
}

.last5 {
	display: flex;
	justify-content: center;
	display: none;
}

@media (min-width: 700px) {
	.table {
		width: 85%;
	}
}
@media (min-width: 955px) {
	.last5 {
		display: block;
	}
}
@media (min-width: 1255px) {
	.table {
		width: 75%;
	}
	.last5 {
		display: block;
	}
}
@media (min-width: 1555px) {
	.table {
		width: 65%;
	}
}
.lose {
	color: rgb(253, 48, 48);
}

.win {
	color: green;
}

.draw {
	color: grey;
}

.form + .form {
	margin-left: 3px;
}
