.back {
	padding: 6px 6px;
	border-bottom: 1px solid rgb(241, 241, 241);
	border-radius: 5px;
	margin-top: 5px;
}

.mark {
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	color: grey;
	border-radius: 10px;
	transition: background-color 0.4s ease;
}
